.header_content{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 0;
    list-style: none;
}
.header_content li{
    padding: 0 15px;
}
.header_content img{
    width: 40px;
    height: 40px;
}
.header{
    background-image: url(../../../public/header/header.png);
    width: 100%;
    height: 100%;
}
.top_header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

@media only screen and (max-width: 900px) {

}