.bottom_content{
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}
.bottom_content li{
    padding: 0 15px;
}
.bottom_content img{
    width: 40px;
    height: 40px;
}
.header{
    position: fixed;
    background-image: url(../../../public/header/header.png);
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}
.header_container{

}
.top_header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

@media only screen and (max-width: 900px) {

}